@()

<html>
<head>
    <meta charset="UTF-8">
    <title>Example</title>
</head>

<body>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
    <script type="text/javascript" src="assets/knockout-example-fastopt.js"></script>
    <script type="text/javascript" src="assets/knockout-example-jsdeps.js"></script>

    <select data-bind=" optionsCaption: 'Select an example',
                        options: examples,
                        optionsText: 'name',
                        optionsValue: 'id',
                        value: visibleExample">
    </select>
    <br/>

    <div data-bind="with: observableExample1, visible: visibleExample() == 'observableExample1'">
        @views.html.observableExample1()
    </div>

    <div data-bind="with: componentExample1, visible: visibleExample() == 'componentExample1'">
        @views.html.componentExample1()
    </div>

    <script>
        henes.knockout.example.ExampleViewModel().main()
    </script>
</body>

</html> 